// Defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  line-height: 1.7;
  font-family: 'Alata', sans-serif;
  background: $-color-dark;
  color: $-color-white;
}

.bg1,
.bg2 {
  background: linear-gradient(
      to right,
      rgba($-color-black, 0.5),
      rgba($-color-black, 0.5)
    ),
    // url('https://source.unsplash.com/daily?sky');
    url('https://source.unsplash.com/daily?nature&peace');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.toggledWidget {
  display: none;
  background-color: $-color-gray;
}
