// Defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  line-height: 1.7;
  font-family: $-font-primary;
  background: $-color-dark;
  color: $-color-white;
  user-select: none;

  &::after {
    opacity: 0;
  }

  .shepherd-active::after {
    content: '';
    display: block;
    background-color: #000 !important;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000;
  }
  .shepherd-title {
    justify-content: center;
  }
  .shepherd-footer {
    justify-content: space-around;
    text-transform: uppercase;
  }
  .shepherd-element.shepherd-open,
  .shepherd-target.shepherd-enabled {
    z-index: 10000000;
    position: relative;
  }
}

.bg1,
.bg2 {
  background: linear-gradient(
      to right,
      rgba($-color-black, 0.5),
      rgba($-color-black, 0.5)
    ),
    // url('https://source.unsplash.com/daily?sky');
    url('https://source.unsplash.com/daily?nature');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.toggledWidget {
  display: none;
  background-color: $-color-gray;
}
