@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
// Colors
$-color-primary: #e74c3c;
$-color-secondary: #3498db;
$-color-gray: #bdc3c7;
$-color-dark: #333;
$-color-light: #ecf0f1;
$-color-black: #000;
$-color-white: #fff;
// Defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  line-height: 1.7;
  font-family: 'Alata', sans-serif;
  background: $-color-dark;
  color: $-color-white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba($-color-black, 0.4);
}

p {
  font-size: 1.8vmin;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;

  & > div {
    height: 190px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
  }
  & > div {
    &:nth-of-type(1) {
      grid-column: 1 / 2;
    }

    &:nth-of-type(2) {
      grid-column: 2 / 3;
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        font-size: 1.5rem;
        opacity: 0;
        transition: all 0.8s ease-in-out;
        & > i {
          color: $-color-gray;
        }
      }
      &:hover .icon {
        opacity: 1;
      }
    }
    &:nth-of-type(3) {
      grid-column: 1 / 2;
    }

    &:nth-of-type(4) {
      grid-column: 2 / 3;
    }
    &:nth-of-type(5) {
      grid-column: 1 / 3;
    }

    // Verse Of the Day Column
    &:nth-of-type(6) {
      grid-column: 3 / -1;
      grid-row: 1 / -1;
      height: 100%;
      padding: 3rem;

      .verse {
        &__title {
          letter-spacing: 1.5px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%);
            width: 2vmin;
            height: 1%;
            background-color: rgba($-color-gray, 0.2);
          }
        }
        &__content {
          line-height: 1.1em;
          letter-spacing: 1.8px;
          font-weight: 600;
        }
        &__book {
          text-align: right;
          font-weight: 300;

          &::before {
            content: '- ';
          }
        }
      }
    }
  }
}

.bg1,
.bg2 {
  background: linear-gradient(
      to right,
      rgba($-color-black, 0.5),
      rgba($-color-black, 0.5)
    ),
    // url('https://source.unsplash.com/daily?sky');
    url('https://source.unsplash.com/daily?nature&peace');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes display-icon {
  from {
    display: none;
    transition: all 8s ease;
  }
  to {
    display: block;
  }
}
@mixin everse-input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $-color-gray;
  color: $-color-white;
  text-align: center;

  &::placeholder {
    color: $-color-light;
  }
}
// todo
.todo {
  display: grid;
  width: 85%;
  gap: 1.3rem;
  justify-content: center;
  /* todo-form */

  .todo-form {
    // width: 100%;
  }

  .todo-input {
    @include everse-input();
  }

  /* todo-items */
  .todo-items {
    max-height: 90px;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
      &-track {
        background: rgba($-color-gray, 0.5);
      }
      &-thumb {
        background: $-color-dark;
        // border-radius: 10px;
        &:hover {
          background: rgba($-color-dark, 0.5);
        }
      }
    }
  }

  /* each li with class="item" */
  .item {
    cursor: pointer;
    list-style: none;
    color: $-color-white;
    background: rgba($-color-black, 0.6);
    transition: 0.2s;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    grid-auto-flow: column;
    gap: 1.2rem;

    &:nth-child(odd) {
      background: rgba($-color-black, 0.4);
    }

    &:hover {
      transform: translateX(3px);
    }
  }

  .item:first-child {
    border-top-left-radius: 2px;
  }

  .item:last-child {
    border-bottom-left-radius: 2px;
  }

  /* item style end */

  .checkbox {
    // margin-right: 10px;
    text-decoration: line-through;
    color: rgba($-color-gray, 0.5);
  }

  .delete-button {
    background-color: transparent;
    color: $-color-light;
    border: none;
    outline: none;
    padding: 2px 5px;
    font-weight: 550;
    width: 3rem;
    line-height: 24px;

    &:hover {
      background-color: $-color-primary;
      color: $-color-light;
    }
  }

  /* applied when the todo item is checked */
  .checked {
    text-decoration: line-through;
    color: rgba($-color-gray, 0.1);
  }
}

// QuickLinks
.quick-link {
  width: 100%;
  height: 100%;
  padding: 1rem;
  max-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: grid;
    grid-auto-flow: column;
    gap: 0.8rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__item {
    background-color: rgba($-color-dark, 0.1);
    width: 4rem;
    height: 4rem;
    display: grid;
    align-items: center;
    cursor: pointer;
    transition: all 8ms linear;

    &:hover {
      background-color: rgba($-color-dark, 0.2);
      transform: translateY(1px);
    }
    &:hover .quick-link__link {
    }
  }

  &__link {
    // background-color: green;
    padding: 0.7rem;
  }

  &__img {
    width: 100%;
    height: 100%;

    &--light {
      width: 2rem;
      height: 2rem;
    }
  }
  &__form {
    display: none; // REMEMBER to remove this line
  }
  &__input {
    @include everse-input();
    margin: 1.2rem auto;
  }
}

.toggledWidget {
  display: none;
  background-color: $-color-gray;
}
