@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
// Colors
$-color-primary: #e74c3c;
$-color-secondary: #3498db;
$-color-gray: #bdc3c7;
$-color-dark: #2c3e50;
$-color-light: #ecf0f1;
$-color-black: #000;
$-color-white: #fff;
// Defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  line-height: 1.7;
  font-family: 'Alata', sans-serif;
}

.main {
  background: linear-gradient(
      to bottom,
      rgba($-color-black, 0.5),
      rgba($-color-black, 0.8)
    ),
    // url('https://source.unsplash.com/daily?sky');
    url('https://source.unsplash.com/daily?nature&hills');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__controls {
    position: absolute;
    right: 0;
  }

  &__inner {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    color: $-color-light;
    padding: 0 20vmin;
  }
}

.controller {
  background: $-color-light;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  border-bottom-left-radius: 5px;
  transition: all 0.2s linear;
  width: 4rem;
  height: 3rem;
  color: rebeccapurple;

  &:hover {
    width: 10rem;
  }

  .icons {
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-auto-flow: column;
    gap: 0.5rem;
    color: $-color-black;
    width: 50px;
    height: 50px;
    margin: auto 0.5rem;
  }
}

.verse {
  text-align: center;

  &__title {
    font-size: 8vmin;
    letter-spacing: 1.5px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%);
      width: 40vmin;
      height: 1%;
      background-color: rgba($-color-gray, 0.2);
    }
  }
  &__content {
    font-size: 2.5rem;
    line-height: 1.1em;
    letter-spacing: 1.8px;
    font-weight: 600;
  }
  &__book {
    text-align: right;
    font-size: 2rem;
    font-weight: 900;

    &::before {
      content: '- ';
    }
  }
}
