@mixin everse-input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $-color-gray;
  color: $-color-white;
  text-align: center;

  &::placeholder {
    color: $-color-light;
  }
}

@mixin canScroll($maxHeight, $maWidth) {
  max-height: $maxHeight;
  max-width: $maWidth;
  overflow: auto;
  overflow-x: hidden;
  // visibility: hidden;
  width: 100%;
  &::-webkit-scrollbar {
    width: 10px;
    &-track {
      background: rgba($-color-gray, 0.5);
      border-radius: 10px;
    }
    &-thumb {
      background: $-color-dark;
      border-radius: 10px;
      &:hover {
        background: rgba($-color-dark, 0.5);
      }
    }
  }
}


//=== Drawing effect

@mixin btn-border-drawing(
  $border: #fff,
  $text: #fff,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $border;
  color: $text;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;
    background-color: transparent;
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
  outline: none;
}