// Colors
$-color-primary: #d35d6e;
$-color-secondary: #5aa469;
$-color-gray: #bdc3c7;
// $-color-dark: #af0069;
$-color-dark: #222831;
$-color-light: #ecf0f1;
$-color-black: #000;
$-color-white: #fff;

$-font-primary: 'Alata', sans-serif;
