.button {
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;

  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.05rem;

  &:focus {
    transform: translateY(2px);
  }

  &--add {
    @include btn-border-drawing(
      $-color-white,
      $-color-white,
      $-color-dark,
      2px,
      bottom,
      right
    );
  }
  &--cancel {
    @include btn-border-drawing(
      $-color-white,
      $-color-white,
      $-color-primary,
      2px,
      bottom,
      left
    );
  }
}

.intro-btn {
  &--next {
    background-color: rgba($-color-secondary, 0.9) !important;
  }
  &--back {
    background-color: rgba($-color-dark, 0.8) !important;
  }
}

.add-icon-button {
  // clip-path: circle(50% at 50% 50%);
  background-color: rgba($-color-dark, 0.35);
  font-size: 1.8rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  border: none;
  display: flex;
  place-content: center;
  place-items: center;
  color: rgba($-color-white, 0.8);
  cursor: pointer;

  &:hover {
    background-color: rgba($-color-dark, 0.85);
    color: rgba($-color-white, 1);
    transition: all 0.3s linear;
  }

  &:focus {
    outline: none;
  }
}

.delete-icon-button {
  color: rgba($-color-gray, 0.5);
  width: 10%;
  height: 2.3rem;
  font-size: 1.4rem;
  display: grid;
  place-items: center;
  &:hover svg {
    color: rgba($-color-primary, 0.8);
  }
}
