.covid {
  &:hover .apexcharts-datalabels {
    opacity: 1;
    transition: all 0.3s linear;
  }
  .apexcharts {
    &-datalabels {
      opacity: 0;
    }
    &-legend {
      &-text {
        // color: $-color-light !important;
        font-size: 0.9rem !important;
        font-family: $-font-primary !important;
      }
    }
  }
}
