.favorites {
  & input {
    @include everse-input();
  }
  &__form {
  }
  &__inner {
    @include canScroll(156px, 285px);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
  }
  &__item-container {
    &:hover .favorites__delete {
      opacity: 1;
    }
  }
  &__item {
    scroll-snap-align: start;
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    border: none;
    display: grid;
    place-items: center;
    color: rgba($-color-white, 0.8);
    text-shadow: 1px 1px 5px rgba($-color-black, 0.3);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 5px;
    position: relative;
    background-color: rgba($-color-dark, 0.85);
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      background-color: rgba($-color-dark, 0.85);
      color: rgba($-color-white, 1);
      transition: all 0.3s linear;
    }
  }
  &__delete {
    position: absolute;
    right: -5px;
    top: -15px;
    opacity: 0;
    color: rgba($-color-gray, 0.8);
    &:hover {
      color: rgba($-color-primary, 0.8);
    }
  }
}
