.task {
  width: 40vw;
  height: 10rem;

  &__add {
    display: flex;
    align-items: center;
  }
  &__form {
    width: 100%;
    &-input {
      @include everse-input();
    }
  }

  &__list {
    @include canScroll(100px, 97%);
    font-size: 1.2rem;
    & > ul {
      // display: none;
      max-width: 30.5rem;
      color: rgba($-color-white, 1);
      & > li {
        background-color: rgba($-color-dark, 0.8);
        padding-right: 0px !important;
      }
    }
  }
}
