// todo
.todo {
  display: grid;
  width: 85%;
  gap: 1.3rem;
  justify-content: center;
  /* todo-form */

  .todo-form {
    width: 100%;
  }

  .todo-input {
    @include everse-input();
  }

  /* todo-items */
  .todo-items {
    @include canScroll(90px, 350px);
  }

  /* each li with class="item" */
  .item {
    cursor: pointer;
    list-style: none;
    color: $-color-white;
    background: rgba($-color-black, 0.6);
    transition: 0.2s;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    grid-auto-flow: column;
    gap: 1.2rem;
    width: 22rem;

    &:nth-child(odd) {
      background: rgba($-color-black, 0.4);
    }

    &:hover {
      transform: translateX(3px);
    }
  }

  .item:first-child {
    border-top-left-radius: 2px;
  }

  .item:last-child {
    border-bottom-left-radius: 2px;
  }

  /* item style end */

  .checkbox {
    // margin-right: 10px;
    text-decoration: line-through;
    color: rgba($-color-gray, 0.5);
  }

  .delete-button {
    background-color: transparent;
    color: $-color-light;
    border: none;
    outline: none;
    padding: 2px 5px;
    font-weight: 550;
    width: 3rem;
    line-height: 24px;

    &:hover {
      background-color: $-color-primary;
      color: $-color-light;
    }
  }

  /* applied when the todo item is checked */
  .checked {
    text-decoration: line-through;
    color: rgba($-color-gray, 0.1);
  }
}

.todo {
  &__form {
    width: 30vw;
  }
  &__input {
    @include everse-input();
  }
}

.task {
  width: 40vw;
  height: 10rem;

  &__add {
    display: flex;
    align-items: center;
  }
  &__form {
    width: 100%;
  }
  &__list {
    @include canScroll(100px, 97%);
    font-size: 1.2rem;
    & > ul {
      // display: none;
      max-width: 30.5rem;
      color: rgba($-color-white, 1);
      & > li {
        background-color: rgba($-color-dark, 0.8);
        padding-right: 0px !important;
      }
    }
  }
  &__checkbox {
    background-color: transparent !important;
    border-color: rgba($-color-white, 0.8);
    border: 1px solid rgba($-color-white, 0.8);
    &:checked {
      border-color: rgba($-color-white, 0.8);
    }
    &:focus {
      box-shadow: none;
      border: 1px solid rgba($-color-white, 0.8);
    }
    &:hover {
      box-shadow: 0 0 0 0.1rem rgba($-color-white, 0.8);
    }
    &[type='checkbox'] {
      border-radius: 0;
      padding: 0.6rem;
    }
  }
}
