#verse {
  height: 100%;
  padding: 3rem;

  .verse {
    &__title {
      letter-spacing: 1.5px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%);
        width: 2vmin;
        height: 1%;
        background-color: rgba($-color-gray, 0.2);
      }
    }
    &__content {
      line-height: 1.1em;
      letter-spacing: 1.8px;
      font-weight: 600;
    }
    &__book {
      text-align: right;
      font-weight: 300;

      &::before {
        content: '- ';
      }
    }
  }
}
